<body class="background">
  <div class="container">
        <div class="row text-center">
          <div class="col-sm-12">
            <%= image_tag ("loginlogo")%>
          </div>
        </div>
        <br><br><br><br>
        <div class="row text-center">
            <div class="col-sm-12 ">
              <%=link_to 'SIGN UP', new_user_registration_path, class:"signup"%>
          </div>
          </div>
          <br><br>
          <div class="row text-center">
            <div class="col-sm-12 ">
                <%=link_to 'SIGN IN', new_user_session_path, class:"signup"%>
          </div>
        </div>
      </div>